
/*TOP navigation bar starts here*/
body{
	background: linear-gradient(to left , white , #f2f2f2, #737373);
}
header{
	width: 100%;
	height: 15vh;
	/*overflow: hidden;*/
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
}
#header_inner{
	height: 100%;
	background: rgb(236,236,236);
}
#logo img
{
	transition-duration: 1.5s;
	width: 15vh;
	height: 15vh;
	margin-left: 20px;
	border-radius: 50%;
	box-shadow: #404040 0px 0px 8px 0px;
}
#logo:hover img{
	transition-duration: .4s;
	transform: scale(1.07);
	filter:blur(1px);
}
/* start navigation */
nav{
	position: absolute;
	top: 5vh;
	right: 0;
	height: 11.25vh;
	width: 25%;
	min-width: 325px;
	z-index: 5;
	right: 0;
	float: right;;
}
#container{
	display: none;
	width: 42px;
	height: 35px;
	position: absolute;
	right: 5vw;
	top: 5vh;
	z-index: 10000;
	text-align: center;
}
.bar1 {
    width: 39px;
    height: 2px;
    position: relative;
    left: 1px;
    padding: 2px 0 2px 1px;
    background-color: #404040;
    margin: 4px 0;
    transition: 0.4s;
    z-index: 20;
    text-align: center;
}
nav:hover #container{
   border: 1px dotted #404040;
   border-radius: 10%;
}
nav: hover>.bar1{
	width: 38.5px;
}
a: hover#menu_icon{
	border-radius: 4px 4px 0 0;
}
ul{
	list-style-type: none;
}
nav ul li{
	font-size: 30px;
	padding: 2vh 5px 1vh 5px;
	display: inline-block;
	float: left;
}
nav ul li a{
	color: #1a1a1a;
	text-decoration: none;
}
nav ul li a:hover{
	color: #000000;
	text-shadow: 1px 2px #bfbfbf;
}
/*-- End of navigation--*/
#list_of_sellers {
		writing-mode: vertical-rl; 
		position: relative;
		font-family: 'Pacifico', cursive;
		margin-top: 30vh;
		left: 0;
		background-color: rgb(236,236,236);
		font-size: 30px;
		box-shadow: #404040 0px 0px 8px 0px;
		padding: 20px 8px 20px 3px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		margin-left: 0;
}
#list_of_sellers a{
	color:  #404040;
	text-decoration: none;
}
#list {
	border: 2px groove #bfbfbf;
	font-size: 10px;
	height: 85vh;
	float: left;
	width: 30%;
	overflow: hidden;
	transition-duration: 1s;
	overflow-y: scroll;
}
 #list ul{
 	list-style-type: none;
 	height: 85vh;
 	width: 100%;
 	float: left;
 	margin: 0;
 }
 #list ul li{
 	cursor: pointer;
 	position: relative;
 	left: -40px;
 	font-size: 27px;
 	width: 100%;
 	height: 10vh;
 }
 #list ul .eve{
 	background-color: #e6e6e6;
 }
 .odd{
 	background-color:  #b3b3b3;
 }
#icons{
	width: 64%;
	letter-spacing: 0.5em;
	position: relative;
	float: right;
	text-decoration: none;
	overflow: hidden;
	height: 85vh;
	position: relative; 	
	}
.buy{
	transition-duration: 0.5s;
	background-color: rgb(230, 230, 230);
	width: 27%;
	font-size: 5.5vw;
	margin-top: 30vh;
	margin-right: 10%;
	color:  #404040;
	text-decoration: none;
	font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	border-radius: 5%;
	float: left;
	margin-left: 16%;
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
}
.sell{
	transition-duration: 0.5s;
	background-color: rgb(230, 230, 230);
	width: 27%;
	font-size: 5.5vw;
	margin-top: 30vh;
	color:  #404040;
	text-decoration: none;
	font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	float: right;
	border-radius: 5%;
	margin-right: 16%;
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
	
}
.buy:hover{
	transition-duration: 0.5s;
	transform: scale(1.3);
	color: #1a1a1a;
	box-shadow: rgb(128, 128, 128) 2px 2px 8px 0px;
	text-shadow: 1px 3px #bfbfbf;
}
.sell:hover{
	transition-duration: 0.5s;
	transform: scale(1.3);
	color: #1a1a1a;
	box-shadow: rgb(128, 128, 128) 2px 2px 8px 0px;
	text-shadow: 1px 2px #bfbfbf;
}
#about_us_content{
	background-color:  #f2f2f2;
	border-radius: 6px;
	box-shadow: 
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
	color: #4d4d4d;
	font-family: 'Adobe Fan Heiti Std B';
	width: 98%; 
	background: linear-gradient(to bottom right,#cccccc , #f2f2f2, white);
	margin: auto;
	float: center;
	font-size: 25px;
	box-shadow: #8c8c8c 0px 0px 8px 0px;
	position: absolute;
	top: 103vh;
	padding: 1vh 0 1vh 0;
	text-align: center;
}
#about_us_content h1{
	width: 100%;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	position: relative;
	top: 0;
}
#modal {
	position: fixed;
	z-index: 1500;
	width: 100%;
	height: 0%;
	background-color: rgb(13, 13, 13, .75);
	overflow: hidden;
}
#exit{
	float: right;
	margin-right: 4vw;
	margin-top: 3vh;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
#modal img{
	position: absolute;
	width: 25vw;
	height: 35vh;
	top: 16vh;
	left: 37vw;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	border: 3px groove rgb(242, 242, 242);
	box-shadow:	rgb(230, 230, 230) 0px 0px 5px 5px;
}
#Name{
	position: absolute;
	top: 55vh;
	font-size: 45px;
	left: 42vw;
	color: white;
}
#contact{
	position: absolute;
	top: 63vh;
	font-size: 43px;
	left: 42vw;
	color: white;
}
#meal{
	position: absolute;
	top: 71vh;
	font-size: 40px;
	left: 42vw;
	color: white;
}
#price{
	position: absolute;
	top: 79vh;
	font-size: 38px;
	left: 42vw;
	color: white;
}
#copyright{
	margin-top: 15px;
	height: 25px;
	color: #404040;
	background: linear-gradient(to left , #404040, #f2f2f2, #404040);
	font-family: 'MedievalSharp', cursive;
	font-size: 15px;
}

}

/*adding meia query for height*/
@media screen and (max-height: 500px)
{
	header{
	height: 20vh;
	overflow: hidden;
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
}
	#logo img
{
	width: 20vh;
	height: 20vh;
}	
}
/*Adding media query for width*/
@media screen and (max-width: 800px){
	
	#container{
		display: inline-block;
	}
	nav ul{
		display: none;
		position: absolute;
		right: 5vw;
		top: 13vh;
		margin-top: 0;
		width: 50%;

	}
	nav:hover ul {
		display: block;
		color: black;
	}
	nav ul li{
		box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
		border-radius: 8%;
		text-align: center;
		z-index: 1000;
		border: 2px groove #404040;
		right :0;
		margin-right: 0;
		background-color: rgb(236,236,236);
		height: 5vh;
		width: 100%;
		padding: 10px 4px 10px 4px;
	}
	#list_of_sellers {
		max-width: 10%;
}
	#list{ 
		margin-left: -100%;
		width: 80%;
		height: 85vh;
	}
	#icons{
		width: 85%;
	}
	.abc{
	width: 30%;
	}
	#about_us_content{
	letter-spacing: 0.02em;
	word-spacing: 0.07em;
	font-size: 20px;
	}
#about_us_content h1{
	font-size: 30px;
	}
#exit{
	margin-right: 20px;
	margin-top: 5px;
	}
#modal img{
	width: 30vw;
	height: 25vh;
	}
#Name{
	top: 45vh;
	font-size: 35px;
	left: 38vw;
}
#contact{
	top: 52vh;
	font-size: 35px;
	left: 38vw;
}
#meal{
	top: 59vh;
	font-size: 35px;
	left: 38vw;
}
#price{
	top: 66vh;
	font-size: 35px;
	left: 38vw;
}
#copyright{
	margin-top: 15px;
	height: 25px;
	color: #404040;
	background: linear-gradient(to left , #404040, #f2f2f2, #404040);
	font-family: 'MedievalSharp', cursive;
	font-size: 15px;
}

}
@media screen and (max-width: 425px)
{
	header{
	width: 100%;
	height: 10vh;
	overflow: hidden;
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
}
#logo img
{
	width: 10vh;
	height: 10vh;
	margin-left: 5px;
}
#container{
	width: 33px;
	height: 32px;
	top: .5vh;
}
.bar1 {
    width: 30px;
    height: 1.5px;
    padding: 1px 0 2px 1px;
}
nav ul{
		top: 6.25vh;
	}
	#list_of_sellers { 
		font-size: 28px;
		max-width: 15%;
		color: #404040;
		box-shadow: #404040 0px 0px 8px 0px;
		padding: 20px 4px 20px 4px;
		margin-left: 0;
}
#icons{
	width: 80%;
	height: 85vh;	
	}
.buy{
	margin-top: 25vh;
	width: 60%;
	padding: 3vh 0 3vh 0;
	float: left;
	margin-left: 20%;
	}
.sell{
	margin-top: 10vh;
	width: 60%;
	padding: 3vh 0 3vh 0;
	float: left;
	margin-left: 20%;
	}
	#exit{
	margin-right: 18px;
	margin-top: 4px;
	font-size: 25px;
	}
#modal img{
	left:18vw;
	top: 11vh;
	width: 60vw;
	height: 30vh;
	}
#Name{
	top: 46vh;
	font-size: 30px;
	left: 23vw;
}
#contact{
	top: 53vh;
	font-size: 30px;
	left: 23vw;
}
#meal{
	top: 60vh;
	font-size: 30px;
	left: 23vw;
}
#price{
	top: 67vh;
	font-size: 30px;
	left: 23vw;
}
#list{
	width: 78%;
}
#copyright{
	margin-top: 15px;
	height: 25px;
	color: #404040;
	background: linear-gradient(to left , #404040, #f2f2f2, #404040);
	font-family: 'MedievalSharp', cursive;
	font-size: 12px;
}

}
