
/*TOP navigation bar starts here*/
#header div{
	display: inline;
}
.header_without_scroll
{
	height: 110px;
	width: 100%;
	position: relative;
	transition-duration: 1s;
}
.header_with_scroll
{
	height: 85px;
	width: 100%;
	position: fixed;
	top:0;
	border-bottom:2px groove #ececeb;
	transition-duration: 1s;
}

/*For inserting a transparent background*/
.header_without_scroll::after 
{
	content: " ";
	transition-duration: 1s;
	background-image: url("logo_background_grey.jpg");
	background-size: 100% 110px;
	opacity: 1;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 110px;
	z-index: -1;
}
.header_with_scroll::after
{
	content: " ";
	background-image: url("logo_background_brown.jpg");
	transition-duration: 1s;
	background-size: 100% 85px;
	border: 2px solid #ececec;
	opacity: .85;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 85px;
	z-index: -1;
}
/*transparent bckground ends here*/
/*Logo starts here*/
.logo_without_scroll img
{
	transition-duration: 1.5s;
	width: 125px;
	height: 125px;
	margin-left: 20px;
	border-radius: 50%;
}
.logo_with_scroll img
{
	transition-duration: 1.5s;
	width: 84px;
	height: 83px;
	margin-top: 3px;
	margin-left: 25px;
	border-radius: 50%;
}
#logo:hover img{
	transition-duration: .4s;
	transform: scale(1.07);
	filter:blur(1px);
}
/*logo ends here*/
#nav_icon{
	float: right;
	margin-right: 80px;
	text-decoration: none; 
}
#nav_icon:hover span{
	transition-duration: .3s;
	margin-right: 8px;
}
.nav_icon_without_scroll
{
	margin-top: 80px;
}
.nav_icon_with_scroll
{
	margin-top: 60px;
}
.nav_icon_without_scroll span
{
	transition-duration: .3s;
	height: 10px;
  	width: 10px;
  	margin-left: 4px;
  	background-color: rgb(126, 60, 27);
  	border-radius: 50%;
  	display: inline-block;
}
.nav_icon_with_scroll span
{
	transition-duration: .3s;
	height: 9px;
  	width: 9px;
  	margin-left: 4px;
  	background-color: #ececec;
  	border-radius: 50%;
  	display: inline-block;
}
/*Top navvgation bar ends here*/